{{#if isAdmin}}
<div class="container">
    <h2>Chỉnh sửa sản phẩm</h2>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-3" style="margin-top: 50px;">
                    <div class="row">
                            <div class="col-12" style="margin-left: 30px;">
                                <input id="photo" class="file" type="file" name="mainimage" value="" onchange="getfile()">
                            </div>
                        </div>
                        <div class="row" style="margin-left: 30px;">
                            <img src="{{product.hinhanh}}" alt="" id="image"
                                width="200px" height="200">
                     </div>
                </div>
                <div class="col-6">
                        <form action="" method="POST">
                            <div class="form-group">
                                <input id="url" name="url" value="{{product.hinhanh}}" hidden></input>
                            </div>
                            <div class="form-group">
                                <label for="masanpham">Mã sản phẩm</label> 
                                <input class="form-control" id="masanpham" value="{{product.masp}}" name="masanpham">
                            </div>
                            
                            <div class="form-group">
                                <label for="tensanpham">Tên sản phẩm</label> 
                                <input class="form-control" id="tensanpham" value="{{product.tensp}}" name="tensanpham">
                            </div>

                            <div class="form-group" style="margin-top: 10px;">
                                <label for="thuonghieu">Thương hiệu</label> 
                                <input class="form-control" id="thuonghieu" value="{{product.thuonghieu}}" name="thuonghieu">
                            </div>

                            <div class="form-group" style="margin-top: 10px;">
                                <label for="soluong">Số lượng</label> 
                                <input class="form-control" id="soluong" value="{{product.soluong}}" name="soluong">
                            </div>

                            <div class="form-group" style="margin-top: 10px;">
                                <label for="gianhap">Giá nhập</label> 
                                <input class="form-control" id="gianhap" value="{{product.gianhap}}" name="gianhap">
                            </div>

                            <div class="form-group" style="margin-top: 10px;">
                                <label for="giaban">Giá bán</label> 
                                <input class="form-control" id="giaban" value="{{product.giaxuat}}" name="giaban">
                            </div>

                            <div class="form-group" style="margin-top: 10px;">
                                <label for="thue">Thuế</label> 
                                <input class="form-control" id="thue" value="{{product.thue}}" name="thue">
                            </div>

                            <div class="form-group">
                                {{#each errors}}
                                <span style="color: red;">
                                {{this.msg}}
                                </span><br>
                                {{/each}}
                            </div>
                            
                            <div class="row">
                                <div class="col-8">
                                    <p style="color: grey;">* Giá bán chưa bao gồm thuế</p>
                                </div>
                                <div class="col-2">
                                    <a href="/product" style="margin-left: 20px;">
                                        <button type="button" class="btn btn-danger">
                                            Hủy
                                        </button>
                                    </a>
                                </div>
                                <div class="col-2">
                                    <a href="/product">
                                        <button class="btn btn-primary" type="submit" value="submit" class="btn_3">
                                            Chỉnh sửa
                                        </button>
                                    </a>
                                </div>
                            </div>

                            <input class="form-control" type="hidden" id="id" value="{{product._id}}" name="id"> 
                        </form>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>

    var firebaseConfig = {
        apiKey: "AIzaSyDarZhXQnvoV-7CM8jdKh6V0DHJuDu9ZWo",
        authDomain: "mydata-f82f3.firebaseapp.com",
        databaseURL: "https://mydata-f82f3.firebaseio.com",
        projectId: "mydata-f82f3",
        storageBucket: "mydata-f82f3.appspot.com",
        messagingSenderId: "139587318494",
        appId: "1:139587318494:web:7873921a44ff0ce0c5484f",
        measurementId: "G-Y4E09R18C4"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    // firebase.analytics();

    var selectedFile;

    function getfile() {
        var pic = document.getElementById("photo");
        // selected file is that file which user chosen by html form 
        selectedFile = pic.files[0];
        // make save button disabled for few seconds that has id='submit_link' 
        //document.getElementById('submit_link').setAttribute('disabled', 'true');
        myfunction(); // call below written function 
    }

    function myfunction() {
        // select unique name for everytime when image uploaded 
        // Date.now() is function that give current timestamp 
        var name = "123" + Date.now();

        // make ref to your firebase storage and select images folder 
        var storageRef = firebase.storage().ref('/images/' + name);

        // put file to firebase  
        var uploadTask = storageRef.put(selectedFile);

        // all working for progress bar that in html 
        // to indicate image uploading... report 
        uploadTask.on('state_changed', function (snapshot) {
            switch (snapshot.state) {
                case firebase.storage.TaskState.PAUSED:
                    console.log('Upload is paused');
                    break;
                case firebase.storage.TaskState.RUNNING:
                    console.log('Upload is running');
                    break;
            }
        }, function (error) {
            console.log(error);
        }, function () {
            // get the uploaded image url back 
            uploadTask.snapshot.ref.getDownloadURL().then(
                function (downloadURL) {

                    // You get your url from here 
                    //console.log('File available at', downloadURL);
                    document.getElementById('url').value = downloadURL;
                    $('#image').attr("src", downloadURL);

                    // alert(document.getElementById('url').value);
                    // print the image url  
                    console.log(downloadURL);
                    document.getElementById('submit_link').removeAttribute('disabled');
                });
        });
    };
</script>  
</div>
{{else}}
  <h5>Trang chỉ dành cho Admin!!</h5>
{{/if}}